@import "bootstrap/scss/bootstrap-grid";
// .row + .row {
//   margin-top: 16px;
// }
// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

p {
  font-size: 16px;
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
@font-face {
  font-family: "Americana std";
  src: url("../fonts/americanastd-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Americana std";
  src: url("../fonts/americanastd-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/AcuminPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Acumin Pro;
  font-weight: 400;
  font-size: 16px;
}

header {
  background-color: #829e8a;
  padding: 67px 0;
}

.header-img {
  width: 100%;
}

main {
  color: #829e8a;
  font-size: 20px;
  line-height: 30px;
}

footer {
  background-color: #829e8a;
  margin: 122px 0 0;

  h2 {
    color: white;
  }

  .button {
    border: solid 1px white;
    padding: 5px 60px;
    color: white;
    font-family: Americana std;
    font-size: 16px;
    margin: 7px 7px;
  }
}

article {
  margin: 122px 0 0;
}

h1 {
  font-size: 48px;
  font-family: Americana std;
  font-weight: 400;
  color: white;
  position: relative;
  bottom: 50px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 130px;
  }
}

h2 {
  font-size: 34px;
  font-family: Americana std;
  font-weight: 400;
  color: #829e8a;
  line-height: 66px;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 68px;
  }
}

h3 {
  font-size: 22px;
  font-family: Americana std;
  line-height: 44px;
  margin-bottom: 24px;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 44px;
  }
}

.about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .about-us-content {
    flex-direction: row;
  }
}

.daily-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daily-menu-text {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 1200px) {
  .daily-menu-text {
    flex-direction: column;
  }
}

.daily-menu-text-drinks,
.daily-menu-text-meals {
  padding: 10px 10px 25px;
  margin: 10px;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 60px;
  list-style-type: none;
}

dt {
  padding-bottom: 10px;

  h3 {
    margin: 0;
  }
}

dd {
  padding-bottom: 30px;
}

.button {
  display: inline-block;
  border: solid 1px #829e8a;
  border-radius: 25px;
  padding: 3px 36px;
  text-align: center;
  font-family: Americana std;
  font-weight: 700;
  font-size: 16px;
}

.opening-hours-content {
  text-align: center;
  padding: 60px 0;
}

.slider-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.slider-img {
  img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .slider-img-desktop img {
    display: none;
  }
}

.contact-adress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
}

.contact-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
}
