@import "bootstrap/scss/bootstrap-grid";
// .row + .row {
//   margin-top: 16px;
// }
// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

p {
  font-size: 16px;
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
@font-face {
  font-family: "Americana std";
  src: url("../fonts/americanastd-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Americana std";
  src: url("../fonts/americanastd-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/AcuminPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Acumin Pro;
  font-weight: 400;
  font-size: 16px;
}

header {
  background-color: #829e8a;
  padding: 67px 0;
  position: relative;
  z-index: 3;
}

.header-img {
  width: 100%;
}

main {
  color: #829e8a;
  font-size: 20px;
  line-height: 30px;
}

nav {
  .nav-bar {
    background-color: #829e8a;
    top: 0;
    color: white;
    z-index: 2;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .nav-title {
    color: white;
    font-size: 48px;
    font-family: Americana std;
    font-weight: 400;
  }

  .navigation {
    display: flex;
    text-align: center;
    padding: 30px 0 5px;
    flex-direction: row;
  }

  .navigation a {
    text-decoration: underline 1px;
  }
}

footer {
  margin: 122px 0 0;

  .button {
    color: white;
  }

  p {
    color: white;
  }

  .footer-content {
    padding: 30px 0 30px;
  }

  .footer-background {
    background-color: #829e8a;
  }
}

article {
  margin: 122px 0 0;
}

h1 {
  font-size: 48px;
  font-family: Americana std;
  font-weight: 400;
  color: white;
  position: relative;
  bottom: 50px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 130px;
  }
}

h2 {
  font-size: 34px;
  font-family: Americana std;
  font-weight: 400;
  color: #829e8a;
  line-height: 66px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 68px;
  }
}

h3 {
  font-size: 22px;
  font-family: Americana std;
  line-height: 44px;
  margin-bottom: 24px;
}

a {
  text-decoration: underline 1px;
}

p {
  color: #829e8a;
}

ul {
  margin-bottom: 60px;
  list-style-type: none;
}

dt {
  padding-bottom: 10px;

  h3 {
    margin: 0;
  }
}

dd {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 44px;
  }
}

.about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-bottom: #829e8a solid 1px;
}

.about-us-visual {
  border-top: #829e8a solid 1px;
  border-bottom: #829e8a solid 1px;
  padding: 10px;
}

@media (min-width: 768px) {
  .about-us-visual,
  .about-us-text {
    border: none;
  }
}

@media (min-width: 768px) {
  .about-us-content {
    flex-direction: row;
    border-top: #829e8a solid 1px;
    border-bottom: #829e8a solid 1px;
  }
}

.daily-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .menu-content {
    border-top: #829e8a solid 1px;
    border-bottom: #829e8a solid 1px;
  }
}

.menu-visual {
  padding: 10px;
  border-top: #829e8a solid 1px;
  border-bottom: #829e8a solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .menu-visual {
    border: none;
    border-right: #829e8a solid 1px;
  }
}

.daily-menu-text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: #829e8a solid 1px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .daily-menu-text {
    flex-direction: column;
    border: none;
    margin-bottom: 0;
  }
}

.daily-menu-text-drinks,
.daily-menu-text-meals {
  padding: 10px 10px 25px;
}

.button {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  font-family: Americana std;
  margin: 0 auto;
  display: block;
}

.button span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s;
}

.button:hover .button-path {
  stroke-dashoffset: 0;
}

.opening-hours-content {
  text-align: center;
  padding: 30px 0 0 0;
  border-top: #829e8a solid 1px;
  border-bottom: #829e8a solid 1px;
}

.slider-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 10px;
}

.img-sunny-coffee {
  border-bottom: #829e8a solid 1px;
}

.slider-img {
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slider-img-desktop img {
    display: none;
  }
}

.footer-contact {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  margin-top: 10px;
  padding: 15px;
}

@media (min-width: 768px) {
  .footer-contact {
    border: none;
    border-right: white solid 1px;
  }
}

.contact-adress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 60px;
}

.contact-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 60px;
}
